
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fa;
    background: linear-gradient(...)
}


header {
    background-color: #004080;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #66b3ff;
}


.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(to right, #004080, #0066cc);
    color: white;
}

.hero h1 {
    margin-bottom: 20px;
}


button {
    padding: 10px 20px;
    background: white;
    color: #004080;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

button:hover {
    background: #e6e6e6;
    transform: scale(1.05);
}


section {
    padding: 40px 20px;
    text-align: center;
    animation: fadeIn 0.8s ease;
}


.services {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box {
    background: white;
    padding: 30px;
    width: 30%;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.box:hover {
    transform: translateY(-10px) scale(1.05);
    background: #004080;
    color: white;
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}


input, textarea {
    padding: 10px;
    margin: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


footer {
    background: #004080;
    color: white;
    padding: 15px;
    text-align: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    .services {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 80%;
    }

    input, textarea {
        width: 80%;
    }
}
